<!-- Footer -->
<footer class="p-0 page-footer bg-dark font-small blue mt-auto" >

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-muted">© ReachMe Developed By Nitya</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->